.mainContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image:url("../src/assets/blue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card{
  width:450px;
  background-color: white;
  padding:20px;
}
body{
  margin:0;
  padding:0;
}